@import url("https://fonts.googleapis.com/css2?family=Alata:wght@300;400;500;600;700&family=Josefin+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata:wght@300;400;500;600;700&family=Josefin+Sans:wght@300;400;500;600;700&display=swap");
header {
  background-image: url(../images/mobile/image-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  place-items: center;
  height: 100vh;
  width: 100%;
}
header .hero {
  border: 2px solid white;
  margin-top: 14rem;
  padding: 1.5rem;
  max-width: 100%;
  margin-inline: 1.7rem;
  word-wrap: break-word;
}
header .hero h1 {
  color: hsl(0, 0%, 100%);
  font-size: 2.8rem;
  font-weight: 300;
}

@media screen and (min-width: 860px) {
  header {
    background-image: url(../images/desktop/image-hero.jpg);
    filter: brightness(0.9);
  }
  header .hero {
    border: none;
    margin-left: 5rem;
    margin-top: 9rem;
    padding: 2rem 0rem;
  }
  header .hero h1 {
    color: hsl(0, 0%, 100%);
    font-size: 4.2rem;
    font-weight: 300;
    max-width: 650px;
    padding: 38px;
    border: 3px solid white;
  }
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;
  width: 100%;
  position: sticky;
  min-height: 5vh;
  background-color: transparent;
  z-index: 10000;
}
.navbar .logo {
  z-index: 10000;
}
.navbar .nav__list {
  left: 0;
  position: fixed;
  background-color: black;
  height: 100vh;
  top: 0%;
  width: 100vw;
  left: 100%;
  padding: 15rem 1.7rem;
  list-style: none;
  transition: left 0.7s;
}
.navbar .nav__list li a {
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  margin-block: 1rem;
  opacity: 0;
  transform: translateX(200px);
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}
.navbar .nav__list li:nth-of-type(1) a {
  transition-delay: 0.1s;
}
.navbar .nav__list li:nth-of-type(2) a {
  transition-delay: 0.2s;
}
.navbar .nav__list li:nth-of-type(3) a {
  transition-delay: 0.3s;
}
.navbar .nav__list li:nth-of-type(4) a {
  transition-delay: 0.4s;
}
.navbar .nav__list li:nth-of-type(5) a {
  transition-delay: 0.5s;
}
.navbar .show-menu li a {
  opacity: 1;
  transform: translateX(0px);
}
.navbar .menu-icons {
  cursor: pointer;
}
.navbar .menu-icons .nav-toggle {
  width: 1.8rem;
}
.navbar .menu-icons .nav-close {
  z-index: 10000000;
  position: fixed;
  width: 1.7rem;
  top: 6.2%;
  display: none;
  transform: rotate(0deg);
  transition: transform 0.4s ease;
}
.navbar .menu-icons .show-menu .nav-close {
  display: block;
  transform: rotate(180deg);
}
.navbar .show-menu {
  left: 0%;
}

@media screen and (min-width: 860px) {
  .navbar {
    padding-top: 5rem;
    width: 100%;
  }
  .navbar .nav__list {
    position: static;
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    padding: 0;
    background-color: transparent;
  }
  .navbar .nav__list ul {
    list-style: none;
    display: flex;
  }
  .navbar .nav__list li {
    margin: 0 1.1rem;
  }
  .navbar .nav__list li a {
    color: hsl(0, 0%, 100%);
    font-size: 1.1rem;
    font-weight: 400;
    font-family: "Josefin Sans", sans-serif;
    text-transform: none;
    opacity: 1;
    transform: translateX(0px);
    transition: none;
  }
  .navbar .menu-icons {
    display: none;
  }
}
.interactive {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  padding-top: 12rem;
  padding-bottom: 13rem;
}
.interactive .interactive__img {
  width: 100%;
  margin: 0 auto;
}
.interactive .interactive__img img {
  width: 100%;
}
.interactive .white-box {
  position: absolute;
  bottom: -1px;
  right: -200px;
  max-width: 60%;
  height: 62%;
  background-color: white;
}
.interactive .white-box h2 {
  margin-top: 4rem;
  margin-bottom: 2rem;
  margin-left: 4rem;
  text-align: start;
  width: 80%;
  font-size: 3rem;
}
.interactive .white-box p {
  text-align: start;
  font-size: 1rem;
  margin-left: 4rem;
}
@media (max-width: 1108px) {
  .interactive .white-box {
    position: static;
    margin: 0 auto;
    max-width: 100%;
    padding-bottom: 2rem;
  }
  .interactive .white-box h2 {
    margin-left: 0rem;
    text-align: center;
    width: 100%;
    font-size: 2.5rem;
  }
  .interactive .white-box p {
    text-align: center;
    margin-left: 0rem;
    font-size: 1.1rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.creations {
  position: relative;
  width: 100%;
  display: grid;
  flex-direction: column;
  padding-bottom: 7rem;
}
.creations h2 {
  margin-bottom: 3rem;
}
.creations .creations__grid {
  grid-template-columns: 1fr;
  margin: 0 auto;
  gap: 1.5rem;
  order: 2;
  display: grid;
}
.creations .creations__grid .item__grid {
  position: relative;
  color: hsl(0, 0%, 100%);
  font-size: 1.6rem;
  font-weight: 300;
}
.creations .creations__grid .item__grid:hover {
  color: hsl(0, 0%, 0%);
}
.creations .creations__grid .item__grid .img__grid {
  position: relative;
  cursor: pointer;
}
.creations .creations__grid .item__grid .img__grid img {
  display: block;
  width: 100%;
  filter: brightness(0.8);
  height: auto;
}
.creations .creations__grid .item__grid .img__grid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(232, 232, 232, 0.7);
  transition: transform 0.4s ease-out;
  transform: scaleY(0);
  z-index: 100;
}
.creations .creations__grid .item__grid .img__grid:hover::before {
  transform: scaleY(1);
}
.creations .creations__grid .item__grid span {
  position: absolute;
  bottom: 17%;
  left: 8%;
  text-transform: uppercase;
  transition: color 0.3s ease-out;
  z-index: 1000;
}

button {
  margin: 0 auto;
  display: inline-flex;
  font-family: "Alata", sans-serif;
  text-transform: uppercase;
  margin-top: 2rem;
  padding: 0.7rem 2.7rem;
  color: hsl(0, 0%, 0%);
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid black;
  background-color: transparent;
  letter-spacing: 4px;
  margin-bottom: 1rem;
  outline: none;
  transition: 0.3s;
}
button:hover {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
}

.btn-desktop {
  display: none;
}

@media screen and (min-width: 801px) {
  .creations .header__creations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
  }
  .creations .header__creations h2 {
    margin-bottom: 0rem;
  }
  .creations .header__creations button {
    margin: 0 0;
    padding: 0.7rem 2.7rem;
    margin-bottom: 0rem;
  }
  .creations .creations__grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .creations .creations__grid .item__grid .img__grid::after {
    position: absolute;
    content: "";
    top: 0%;
    right: 0;
    bottom: 0%;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
  }
  .creations .creations__grid .item__grid span {
    left: 15%;
    bottom: 8%;
    font-size: clamp(1rem, 2.1vw, 2.1rem);
  }
  .btn-mobile {
    display: none;
  }
  .btn-desktop {
    display: block;
  }
}
footer {
  display: grid;
  grid-template-columns: 1fr;
  background-color: hsl(0, 0%, 0%);
  text-align: center;
  width: 100%;
  position: static;
  bottom: 0%;
  right: 0%;
  left: 0%;
  padding-bottom: 4rem;
}
footer .logo img {
  margin: 4.5rem auto 2rem;
  max-width: 40%;
}
footer .footer__links li a {
  color: hsl(0, 0%, 100%);
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Alata", sans-serif;
  margin-block: 0.9rem;
  display: block;
}
footer .socials__links {
  order: 3;
  display: flex;
  padding-top: 3rem;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 0.4rem;
}
footer .socials__links a {
  margin-inline: 0.4rem;
}
footer .copyright {
  color: hsl(0, 0%, 55%);
  font-size: 1rem;
  font-weight: 600;
  order: 4;
  margin-top: 1.3rem;
}

@media screen and (min-width: 913px) {
  footer {
    grid-template-columns: 1fr 1fr;
    text-align: initial;
    padding-bottom: 1.2rem;
  }
  footer .logo img {
    margin: 3rem 0 1rem;
  }
  footer .footer__links {
    order: 3;
  }
  footer .footer__links ul {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  footer .footer__links li a {
    color: hsl(0, 0%, 100%);
    font-size: 1.1rem;
    font-weight: 400;
  }
  footer .socials__links {
    justify-content: flex-end;
    margin: 0 0;
  }
  footer .copyright {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html.sr .load-hidden {
  visibility: hidden;
}

@media screen and (max-width: 909px) {
  * {
    overflow-x: hidden;
  }
}
body {
  background-color: hsl(0, 0%, 100%);
  width: 100%;
}

h1, h2, h3 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

h2 {
  color: hsl(0, 0%, 0%);
  font-size: 2.3rem;
  font-weight: 300;
  text-align: center;
}

p {
  font-family: "Alata", sans-serif;
  text-align: center;
  line-height: 1.7;
  color: hsl(0, 0%, 55%);
  font-size: 1.05rem;
  font-weight: 300;
}

span {
  font-family: "Josefin Sans", sans-serif;
}

img {
  width: auto;
  display: block;
  height: auto;
}

a {
  text-decoration: none;
}

a {
  position: relative;
}
a::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: hsl(0, 0%, 100%);
  transition: width 0.3s ease, left 0.3s ease;
}
a:hover::after {
  width: 100%;
  left: 0;
}

.container {
  width: calc(100% - 20px);
}

.padding-style {
  padding-inline: 1.7rem;
}

@media screen and (min-width: 800px) {
  .padding-style {
    padding-inline: 5rem;
  }
}

/*# sourceMappingURL=style.css.map */
