@import url('https://fonts.googleapis.com/css2?family=Alata:wght@300;400;500;600;700&family=Josefin+Sans:wght@300;400;500;600;700&display=swap');



$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);

// Font weights
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;

// Font family variables
$font-family-alata: 'Alata', sans-serif;
$font-family-josefin-sans: 'Josefin Sans', sans-serif;
